In [38]:
! pip install boto3 pymongo twitter --quiet

In [39]:
from pymongo import MongoClient

In [40]:
mongo_client = MongoClient('18.236.138.158', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets # connection to the tweets collection

In [41]:
cursor = collection_reference.find() # find() with no args returns everything

In [42]:
next(cursor)

{'_id': ObjectId('5b562057cfd9de0efb61d3b5'),
 'created_at': 'Sat Jul 21 20:58:43 +0000 2018',
 'id': 1020775097898917888,
 'id_str': '1020775097898917888',
 'text': 'Can’t wait to go home and play video games already smh',
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 3096943027,
  'id_str': '3096943027',
  'name': 'mattygeee',
  'screen_name': 'Mattygeee1',
  'location': 'Los Angeles, CA',
  'url': None,
  'description': None,
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 286,
  'friends_count': 399,
  'listed_count': 4,
  'favourites_count': 7501,
  'statuses_count': 17775,
  'created_at': 'Thu Mar 19 01:14:05 +0000 2015',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_link_color': 'E81C4F',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/3096943027/1522005281',
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': {'id': '59612bd882018c51',
  'url': 'https://api.twitter.com/1.1/geo/id/59612bd882018c51.json',
  'place_type': 'city',
  'name': 'Santa Monica',
  'full_name': 'Santa Monica, CA',
  'country_code': 'US',
  'country': 'United States',
  'bounding_box': {'type': 'Polygon',
   'coordinates': [[[-118.517358, 33.995177],
     [-118.517358, 34.050199],
     [-118.443482, 34.050199],
     [-118.443482, 33.995177]]]},
  'attributes': {}},
 'contributors': None,
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [], 'urls': [], 'user_mentions': [], 'symbols': []},
 'favorited': False,
 'retweeted': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1532206723080'}

In [43]:
cursor = collection_reference.find() # creates a search result, a list

In [74]:
collection_reference.count_documents({}) # count documents in mongo

109503

In [35]:
# or we can aggregate the data according to criteria
# $sample is a mongo function
cursor_sampl = collection_reference.aggregate(
    [{'$sample': {'size': 20}}]
)

In [36]:
len(list(cursor_sampl))

20

In [37]:
next(cursor_sampl)

StopIteration:

In [13]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [14]:
tw = next(cursor_sampl)

In [15]:
tw.keys()

dict_keys(['_id', 'created_at', 'id', 'id_str', 'text', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'])

In [16]:
list(tw.values())[:5]

[ObjectId('5b59245535c77d0014b73433'),
 'Thu Jul 26 01:13:19 +0000 2018',
 1022288723713581056,
 '1022288723713581056',
 'It’s SOOOOO fucking hot.']

In [17]:
import pandas as pd

In [18]:
cursor = collection_reference.aggregate([{'$sample': {'size': 5}}])

tw_sample_df = pd.DataFrame(list(cursor))

In [19]:
tw_sample_df.dtypes # mongo doesn't have datatypes; this is what pd thinks the datatypes are.

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
quoted_status                 object
quoted_status_id             float64
quoted_status_id_str          object
quoted_status_permalink       object
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
dtype: object

In [20]:
tw_sample_df.select_dtypes([int])

,favorite_count,id,quote_count,reply_count,retweet_count
0,0,1022172887904530433,0,0,0
1,0,1021583186667565056,0,0,0
2,0,1022288723713581056,0,0,0
3,0,1022182778807377920,0,0,0
4,0,1020775097898917888,0,0,0

In [21]:
tw_sample_df.select_dtypes([float])

   in_reply_to_status_id  in_reply_to_user_id  quoted_status_id
0           1.022159e+18         1.343821e+09               NaN
1                    NaN                  NaN               NaN
2                    NaN                  NaN               NaN
3                    NaN                  NaN      1.022151e+18
4                    NaN                  NaN               NaN

In [22]:
tw_sample_df.select_dtypes(['object'])

,_id,contributors,coordinates,created_at,display_text_range,entities,filter_level,geo,id_str,in_reply_to_screen_name,...,lang,place,possibly_sensitive,quoted_status,quoted_status_id_str,quoted_status_permalink,source,text,timestamp_ms,user
0,5b58b54b3aed5a010fe914fb,None,None,Wed Jul 25 17:33:02 +0000 2018,"[14, 30]","{'hashtags': [], 'urls': [], 'user_mentions': ...",low,None,1022172887904530433,AndDavidSays,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@AndDavidSays Father-Son goals,1532539982187,"{'id': 982927124, 'id_str': '982927124', 'name..."
1,5b5924781a6d220be7f18b39,None,None,Tue Jul 24 02:29:46 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",low,None,1021583186667565056,None,...,ko,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,NaN,NaN,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",리센퉁 싱가폴총리는 가슴에 싱가폴기와 태극기 뱃지를 달았다. 그러나 문씨는 태극기 ...,1532399386456,"{'id': 305774740, 'id_str': '305774740', 'name..."
2,5b59245535c77d0014b73433,None,None,Thu Jul 26 01:13:19 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",low,None,1022288723713581056,None,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",It’s SOOOOO fucking hot.,1532567599596,"{'id': 721603736884236290, 'id_str': '72160373..."
3,5b58bea63aed5a010fe91cbd,None,None,Wed Jul 25 18:12:20 +0000 2018,"[0, 46]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",low,None,1022182778807377920,None,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,{'created_at': 'Wed Jul 25 16:04:48 +0000 2018...,1022150684907634688,"{'url': 'https://t.co/cw1LB1HNr8', 'expanded':...","<a href=""http://twitter.com/download/iphone"" r...",There’s no correlation in these two situations...,1532542340362,"{'id': 601375097, 'id_str': '601375097', 'name..."
4,5b5923de0cff4002d5673f84,None,None,Sat Jul 21 20:58:43 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",low,None,1020775097898917888,None,...,en,"{'id': '59612bd882018c51', 'url': 'https://api...",NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Can’t wait to go home and play video games alr...,1532206723080,"{'id': 3096943027, 'id_str': '3096943027', 'na..."

In [23]:
tw_sample_df['created_at'] = pd.to_datetime(tw_sample_df['created_at'])

In [24]:
tw_sample_df.created_at

0   2018-07-25 17:33:02
1   2018-07-24 02:29:46
2   2018-07-26 01:13:19
3   2018-07-25 18:12:20
4   2018-07-21 20:58:43
Name: created_at, dtype: datetime64[ns]

## Tweets Containing Geo Information

In [26]:
contain_geo_search = collection_reference.find({'geo' : { '$ne' : None}}) # want docs where 'geo' key is 'not equal' to none
contain_geo_search # Cursor object

In [27]:
collection_reference.count_documents({'geo' : { '$ne' : None}})

1588

## Distinct Users

#### TRY THIS

In [ ]:
len(collection_reference.distinct('user'))